*.psd filter=lfs diff=lfs merge=lfs -text
common/barrel_small.psd filter=lfs diff=lfs merge=lfs -text
common/pillar.psd filter=lfs diff=lfs merge=lfs -text
elements/fire.psd filter=lfs diff=lfs merge=lfs -text
elements/ice.psd filter=lfs diff=lfs merge=lfs -text
common/chest.psd filter=lfs diff=lfs merge=lfs -text
common/barrel_large.psd filter=lfs diff=lfs merge=lfs -text
common/map.psd filter=lfs diff=lfs merge=lfs -text
elements/dragon.psd filter=lfs diff=lfs merge=lfs -text
elements/water.psd filter=lfs diff=lfs merge=lfs -text
monsters/update-needed.psd filter=lfs diff=lfs merge=lfs -text
ailments/poison.psd filter=lfs diff=lfs merge=lfs -text
ailments/sleep.psd filter=lfs diff=lfs merge=lfs -text
textures/cmn_micon01_ID.psd filter=lfs diff=lfs merge=lfs -text
ailments/blast.psd filter=lfs diff=lfs merge=lfs -text
ailments/stun.psd filter=lfs diff=lfs merge=lfs -text
common/egg.psd filter=lfs diff=lfs merge=lfs -text
common/unknown_find.psd filter=lfs diff=lfs merge=lfs -text
textures/base.psd filter=lfs diff=lfs merge=lfs -text
textures/cmn_micon00M_ID.psd filter=lfs diff=lfs merge=lfs -text
common/large_claw.psd filter=lfs diff=lfs merge=lfs -text
common/small_claw.psd filter=lfs diff=lfs merge=lfs -text
elements/thunder.psd filter=lfs diff=lfs merge=lfs -text
textures/base2.psd filter=lfs diff=lfs merge=lfs -text
textures/base3.psd filter=lfs diff=lfs merge=lfs -text
ailments/paralysis.psd filter=lfs diff=lfs merge=lfs -text
common/palico_tool.psd filter=lfs diff=lfs merge=lfs -text
textures/cmn_micon00_ID.psd filter=lfs diff=lfs merge=lfs -text
common/drooling.psd filter=lfs diff=lfs merge=lfs -text
common/dying.psd filter=lfs diff=lfs merge=lfs -text
common/fire.psd filter=lfs diff=lfs merge=lfs -text
common/numbers.psd filter=lfs diff=lfs merge=lfs -text
