textures/*.tex
textures/*.dds
textures/default.png
ailments/*
elements/*
common/*
monsters/*
!barrel_large.psd
!barrel_small.psd
!dying.psd
!egg.psd
!fire.psd
!large_claw.psd
!small_claw.psd
!map.psd
!unknown.psd
!numbers.psd
!palico_tool.psd
!unknown_find.psd
!pillar.psd
!drooling.psd
!chest.psd
!update-needed.psd
